@use "../media" as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__logo {
    max-width: 331px;
    padding-top: 50px;

    @include laptop {
      padding-top: 40px;
    }

    @include tablet {
      width: 200px;
      padding-top: 32px;
    }

    @include mobile {
      padding-top: 22px;
    }
  }
}
